<div class="map2">
  <div class="" style="margin-top:100px;">


        <h6 style="color:black;">Requests on the Map</h6>
             <%= render ("layouts/location") %>

    </div>



</div>
 <%= render ("layouts/stats") %>
