<div class="map2  riders landing">

  <div class=" " style="margin-top:100px;">
<h6 class="text-center text-info">Requests on the Map</h6>


             <%= render ("layouts/location") %>

    </div>



</div>
