<div class="container riders landing ">
 <h3 class="text-center text-white">Mailbox</h3>
 <div class="text-center ">
  <div class="row">
    <div class="col-md-4">
    <h2>Users</h2>
    <ul>
     <% @users.each do |user| %>
       <li><%= link_to user.last_name, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: :post %></li>
     <% end %>
    </ul>
    </div>
    <div class="col-md-8">
        <h2>Messages</h2>
   <% @conversations.each do |conversation| %>

    <% if conversation.sender_id == current_user.id %>
        <% recipient = User.find(conversation.recipient_id) %>

        <% elsif conversation.recipient_id == current_user.id %>
            <% recipient = User.find(conversation.sender_id) %>
        <% end %>
    <div class="conversations">
      <%= link_to recipient.last_name,   conversation_messages_path(conversation)%>
    </div>


  <% end %>
</div>

  </div>
 </div>

</div>
