<!DOCTYPE html>
<html>
<head>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
   <meta charset="utf-8">
   <style>
     #map {
       height: 750px;
       width: 100%;


       border-radius: 5px;
     }


   </style>

   <div id="map"></div>

</head>
  <body>
    
<div id="map_canvas" style="width:100%; height:100%"></div>

<script>
  var map, infoWindow;
      function initMap() {

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -61.397, lng: 17.644},
          zoom: 5
        });
        infoWindow = new google.maps.InfoWindow;


        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setCenter(pos);

            infoWindow.setContent('Current location');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });

          $.getJSON("/requests.json", function (request)  {
            $.each(request, function(key, request) {
              var latLng =  (request.answers_count == 5)? "null " : new google.maps.LatLng( request.latitude , request.longitude );
                var marker = new google.maps.Marker({
                    position: latLng,
                    map: map,
                    animation: google.maps.Animation.DROP,
                    title: (request.title + ' ' +request.request_type)

                });


               var infowindow = new google.maps.InfoWindow({
                  content: '<a href="/requests/' + request.id + '">' + 'Click here to volunteer' + '</a>' +
                  '<br/>' + '<p class="text-success"><strong>ID:</strong>'+ request.id +'<br/> '+'Title:  ' + request.title +
                  '<br/>' + '<strong>Description:</strong>  ' + request.description + '<br/>' + ' <strong>Address:</strong>  ' + request.address +
                  '<br/>' + '<strong>Type of request:</strong>  ' + request.request_type + '</p>'+
                  '<br/>' + '<input type ="submit" name="command" value="Got help? click here"/>',
                  maxWidth: 300
                });



                if (request.request_type == 'Help') {
                  marker.setIcon('https://png.icons8.com/office/40/000000/marker.png');
                 }
                 else{
                  marker.setIcon('https://png.icons8.com/ultraviolet/40/000000/marker.png');
                 }

              google.maps.event.addListener (marker, 'click', function() {

              infowindow.open(map, marker);
              setTimeout(function () { infowindow.close(); }, 10000);
            });


          });
          });

        } else {

          handleLocationError(false, infoWindow, map.getCenter());
        };

 }
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

    </script>


    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyChx_EFBxgGh_So_8fXbs6xYbW3HVpWUR0&callback=initMap">
    </script>

  </body>




</html>
