<div class="container p-10">
  <div class="row">
    <div class="col-md-4">
      <p><strong>fullfiled requests: <%= Request.where("answers_count >= 5").count do |count| %>
      <% end %> </strong></p>
    </div>
    <div class="col-md-4">
      <p><strong>unfulfiled requests:   <%= Request.where("answers_count < 5").count do |count| %>
        <% end %></strong></p>
    </div>
    <div class="col-md-4">
      <p><strong>Registered users:   <%= User.count do |count| %>
        <% end %></p>
    </div>
  </div>
  <div>



<script>
    var time = new Date().getTime();
    $(document.body).bind("mousemove keypress", function () {
        time = new Date().getTime();
    });
    setInterval(function() {
        if (new Date().getTime() - time >= 5000) {
            window.location.reload(true);
        }
    }, 1000);
</script>
